* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {

    background: #000;

    color: white;

}



header {

    text-align: center;

    padding: 60px 20px;

    background: #000;

    border-bottom: 3px solid #00FFAE;

}



header img {

    width: 180px;

    max-width: 80%;

}



header h1 {

    font-size: 50px;

    color: #00FFAE;

}



header p {

    font-size: 20px;

}





nav {

    background: #111;

    padding: 20px;

    text-align: center;

}



nav a {

    color: white;

    text-decoration: none;

    margin: 15px;

}



nav a:hover {

    color: #00FFAE;

}





section {

    padding: 50px 10%;

    text-align: center;

}



h2 {

    color: #00FFAE;

    font-size: 35px;

    margin-bottom: 20px;

}




#about p,
#custom p,
#contact p {

    font-size: 18px;

}





.gallery {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}




.card {

    background: #111;

    border: 2px solid #00FFAE;

    border-radius: 15px;

    width: 300px;

    padding: 20px;

}



.card img {

    width: 100%;

    border-radius: 10px;

}



.card h3 {

    color: #00FFAE;

    margin: 15px;

}





button {

    background: #00FFAE;

    border: none;

    padding: 15px 30px;

    border-radius: 30px;

    font-size: 18px;

    margin-top: 20px;

    cursor: pointer;

}





a {

    color: #00FFAE;

}





footer {

    background: #111;

    text-align: center;

    padding: 20px;

    border-top: 2px solid #00FFAE;

}





@media(max-width:700px){

    header h1{

        font-size:35px;

    }


    nav a{

        display:block;

        margin:10px;

    }

}
